@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex p-2">
    <img src="~/images/shbanner.png" class="img-fluid" alt="Responsive image">
</div>

<div class="text-center">
    <h1 class="display-4">Welcome to the SuperHero App!</h1>
    <p>Learn about, create, and edit superheroes <a asp-controller="Superhero" asp-action="Index">here!</a>
</div>
